body{
    /* overflow-y: hidden; */
    margin:0px;
    background-color: white;
}

body, body *{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 26px;
}

h1,h2{
    text-transform: uppercase;
}

h1{
    margin-top: 0px;
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: lighter;
    line-height: 40px;
}

a, a:visited, a:active{
    color: #0b33a5;
}

ul{
    list-style-position: inside;
    padding: 0px;
}

ul.inline{
    display: flex;
    justify-content: space-between;
}
ul > li{
    padding-bottom: 15px;
}

ul > li > span {
    -webkit-margin-start: -10px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    ul > li > span {
        margin-left: -10px;
    }
}

ul.redPoint > li{
    color: red;
}
ul.redPoint > li > span{
    color: black;
}

ul.bluePoint > li{
    color: #0b33a5;
}
ul.bluePoint > li > span{
    color: black;
}

.text-center{
    text-align: center;
}

.red-border{
    border: 1px solid red;
    border-radius: 5px;
}

.forMovedImg{
    position: relative;
    display: flex;
    justify-content: center;
}
.centered{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


.centered.around{
    justify-content: space-around;
}

.centered > * {
    width: 50%;
}
.centeredWithSpace{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 40px;
}
.centeredWithSpace > .equal {
    width: 50%;
}

.between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.effectColumn{
    width: 35%;
    padding: 0px 40px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: auto;
    color: #0b33a5;
}

nav > h1 {
    font-size: 18px;
    margin: 0px;
    color: #0b33a5;
}

nav > .hrefs > a{
    border-top: 1px solid transparent;
    padding-top: 20px;
    padding-bottom: 25px;
    text-decoration: none;
    display: inline-block;
}
nav > .hrefs > a:not(:first-child){
    margin-left: 60px;
}

nav > .hrefs > a:hover{
    border-top: 1px solid red;
}

header{
    width: 100%;
    display: flex;
    flex-direction: row;
	height: 600px;
	background-position: center center;
	background-size: cover;
	background-image: url(../IMG/i.png);
	background-repeat: no-repeat;
    position: relative;
}

header > .headerLeft{
    color: white;
    width: 38%;
    position: relative;
    background-color:rgba(186,3,46,0.7);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 145px;
    padding-top: 250px;
}

header > .headerLeft > .headerText{
    font-size: 42px;
    line-height: 52px;
    text-align: right;
    max-width: 400px;
}


header > .headerRight {
    color: white;
    width: 62%;
    position: relative;
    background-color:rgba(41,77,180,0.7);
    padding-left: 135px;
    padding-top: 250px;
}

header > .headerRight  span{
    font-size: 24px;
    display: block;
    line-height: 34px;
    color: white;
    /* text-align: center; */
    font-family: 'Roboto Light', sans-serif;
    max-width: 440px;
}


article:nth-child(odd){
    background-color: #f2fbff;
}

article{
    padding: 40px 0px;
}

article > div{
    width: 1200px;
    margin: auto;
}

footer{
    display: flex;
    justify-content: center;
    background-color: rgb(36,40,117);
    padding: 40px 0px;
    color: white;
}

footer > .footerPart{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

footer > .footerPart > .footerTitle{
    font-size: 14px;
    line-height: 24px;
    color: #ccddee;
}

footer > *+*:not(:first-child){
    margin-left: 120px;
}


a[data-fancybox]{
    outline:none;
}

#reviews h1{
    margin-top: 20px;
    margin-bottom: 20px;
}
.reviews{
    display: flex;
    margin: 0 2em;
}
.reviews.slick-slider button{
    display: inline-block!important;
}
.reviews.slick-slider button::before{
    color: red;
}
.review{
    padding:1em;
    outline: none;
    cursor: pointer;
    position: relative;
}
.review > .header{
    font-style: italic;
}
.review > .content > p{
    text-align: justify;
    text-overflow: ellipsis;
}
.review > .footer{
    font-style: italic;
}
.review > .rfooter{
    position: absolute;
    bottom: 20px;
}
.fancybox-slider .review{
    max-width: 80%;
    border-radius: 5px;
    border: 1px solid red;
    height: auto!important;
}

.slick-prev, .slick-next{
    top: 35%!important;
}

#answers h1{
    margin-top: 20px;
    margin-bottom: 20px;
}
.answers{
    display: flex;
    margin: 0 2em;
}
.slick-slider button{
    display: inline-block!important;
}
.slick-slider button::before{
    color: red;
}
.answer{
    padding:1em;
    outline: none;
    cursor: pointer;
    position: relative;
}
.answer > .header{
    font-weight: bold;
}
.answer > .content{
    text-align: justify;
    text-overflow: ellipsis;
}
.fancybox-slider .answer{
    max-width: 80%;
    border-radius: 5px;
    border: 1px solid red;
    height: auto!important;
}

.slick-slide {
    outline: none;
}
.slick-slide img {
    height: 200px;
    width: 300px;
    margin: auto;
    border: 1px solid rgba(136, 135, 135, 0.45);
}

.fancybox.slick-slide {
    padding: 1em;
}

.cost-item {
    border: 1px solid #f2fbff;
    border-radius: 5px;
    padding: 1em;
    margin: 0 1em;
    background: #fff;
}

.cost-item h1 {
    text-align: center;
    font-weight: bold;
    text-transform: none;

}

.cost-item h2 {
    text-align: center;
}

.cost-item img{
    height: 15px;
    margin-right: 0.5em;
}

.cost-item ul li::before {
    content: '';
    width: 1em;
    height: 1em;
    background: url(../IMG/tick.svg);
    background-repeat: no-repeat;
    margin-right: 0.5em;
    position: absolute;
    left: 0;
}

.cost-item ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}

.cost-item li { 
    padding-left: 1.5em;
}